.footer {
    position: relative;
    background-color: #c5d932;
    width: 100%;
    height: 50px;
    bottom: 0;
    margin-top: auto;
}

.conteudo-footer {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    color: black;
    font-size: 16px;
}

.icones-footer {
    display: flex;
    font-size: 30px;
    cursor: pointer;
}