.container-login {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

.container-secundario {
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex: row;
}

.lado-esquerdo {
    border: 1px solid black;
    border-radius: 10px;
    width: 40%;
    height: 350px;
    align-items: center;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.lado-direito {
    border: 1px solid black;
    border-radius: 10px;
    width: 40%;
    height: 350px;
    align-items: center;
    display: flex;
    justify-content: center;
    flex-direction: column;
}