.container-login {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

.container-secundario {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: row;
}

.lado-esquerdo {
    width: 40%;
    height: 350px;
    align-items: center;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.lado-direito {
    width: 40%;
    height: 350px;
    align-items: center;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.lado-direito a {
    text-decoration: none;
    color: #022601;
}

.lado-direito a:hover {
    text-decoration: none;
    color: #022601;
    border-bottom: 1px solid #022601;
}

.inputs {
    display: flex;
    align-items: center;
    justify-content: center;
}

input {
    border: none;
    border-bottom: 1px solid black;
    font-size: larger;
    padding: 5px;
}